In [1]:
import pandas as pd

In [2]:
df_art= pd.read_csv('art.csv')
df_art.sample(3)

,fn,artist,title,year,slug
10,"Allan Randall Freelon,Gloucester Harbor,1929",Allan Randall Freelon,Gloucester Harbor,1929,gloucester-harbor
34,"Walter Sanford, Study in Black and White, 1949",Walter Sanford,Study in Black and White,1949,study-in-black-and-white
35,"Norman Lewis,Meeting Place, 1941",Norman Lewis,Meeting Place,1941,meeting-place

In [3]:
def make_art_cite(row):
    artist = row['artist']
    title = row['title']
    year = row['year']
    return f'{artist}, *{title}*, {year}'

df_art['cite'] = df_art.apply(make_art_cite, axis=1)
df_art['link'] = '![](Images/' + df_art['slug'] + '.png)'

In [4]:
art_table = df_art.sort_values(by='year')[['link','cite']].to_markdown(index=False)
with open('markdown/art.md', 'w') as outfile:
    outfile.write(art_table)

In [5]:
art_dict = df_art.set_index('slug')['cite'].to_dict()

In [6]:
prefix = '''[&nbsp;]{.motto}

'''

In [7]:
suffix = '''
::: center
About [[Crisis *&* Opportunity]{.smallcaps}](about.html)
:::'''

In [8]:
forthcoming = '''
# Forthcoming
* Thompson, Anna J. "A Survey of Crime among Negroes in Philadelphia." *Opportunity* Vol 4, July-Sept.
* Johnson, Charles S.  and Horace M. Bond. "The Investigation of Racial Differences Prior to 1910." *The Journal of Negro Education*, Vol. 3, No. 3, (Jul., 1934), pp. 328-339. 
* Frazier, E. Franklin "The Status of the Negro in the American Social Order." *The Journal of Negro Education*, Vol. 4, No. 3, (Jul., 1935), pp. 293-307 
* Reid, Ira De A. "Negro Immigration to the United States."  *Social Forces*, Mar., 1938, Vol. 16, No. 3 (Mar., 1938), pp. 411-417
* Andrews, Norman P. "The Negro in Politics" *The Journal of Negro History* 1920 5:4, 420-436. 
'''

In [9]:
df = pd.read_csv('articles.csv')
len(df)

39

In [10]:
df.tail()

,title,article_url,author,Journal,Year,artpng,Category,Unnamed: 7
34,The Etiquette of Race Relations,etiquette,Bertram W. Doyle,The Journal of Negro Education,1936,cocktails,Education,NaN
35,Schools and the Vocational Life of Negroes,schools,Elise Johnson McDougald,Opportunity,1923,the-photographer,Education,NaN
36,Enumeration Errors in Negro Population,enumeration,Kelly Miller,The Scientific Monthly,1922,portrait-of-a-baby,Demography,NaN
37,Three Scourges of the Negro Family,scourges,E. Franklin Frazier,Opportunity,1926,sorrow,Family,NaN
38,Is the Negro Family a Unique Sociological Unit?,unique,E. Franklin Frazier,Opportunity,1927,harriet-tubman-series,Family,NaN

In [17]:


def apply_template(row):
    
    title = row['title']
    article_url = row['article_url']
    art_url = row['artpng'] + '.png'
    art_credit = art_dict[row['artpng']]
    journal = row['Journal']
    year = row['Year']
    author = row['author']
    
    if len(title)<30:
        title = '&nbsp;<br>' + title
                          
    template = f'''
::: article
## [{title}](articles/{article_url}.html)
### {author}
[![](Images/{art_url})](articles/{article_url} "{art_credit}") 
*{journal}*, {year}.
:::
'''
    
    return template

In [18]:
df['md'] = df.apply(apply_template, axis=1)

In [19]:
order = ['Racial Identity', 'White Racism and Racial Violence', 'Great Migration and Urban Sociology',
        'Labor', 'Women and Work', 'Social Movements', 'Crime', 'Education', 'Family', 'Demography']

article_mds = ''
for category in order:
    article_mds = article_mds + f"# {category}\n"
    sdf = df[df['Category'] == category]
    article_mds = article_mds + ''.join(sdf['md'].values)

In [20]:
md = prefix + article_mds + forthcoming + suffix

In [21]:
with open('markdown/index.md' ,'w') as outfile:
    outfile.write(md)

In [22]:
!./build

In [23]:
len(df)

39